        ##########################
# Orfmap data            #
##########################

orfmap-*/orfmap/*
!orfmap-*/orfmap/data/

orfmap-*/orfmap/data/*
!orfmap-*/orfmap/data/scerevisiae/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

##########################
# Python compiled source #
##########################
*\.pyc
*\.pyo
build/
dist/
doc/_build/

orfmap/__pycache__/
**/lib/__pycache__/



#################
# pycharm files #
#################
**.idea/
